.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 4rem;
  background-color: var(--color-surface-header);
  position: sticky;
  top: 0;
  left: 0;
}

.header > a {
  font-size: var(--font-size-2xl);
  text-decoration: none;
}

.header > a:visited {
  color: var(--color-text-primary);
}
