.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--mg-xl) var(--mg-3xl);
  height: 4rem;
  background-color: var(--color-surface-header);
  position: sticky;
  top: 0;
  left: 0;
}

.title-wrapper {
  padding: var(--mg-m) var(--mg-l);
  border-radius: 1rem;
}

.title-wrapper:hover {
  background-color: var(--color-surface-secondary-reaction);
}

.title {
  font-size: var(--font-size-2xl);
  text-decoration: none;
}

.title:visited {
  color: var(--color-text-primary);
}
